Flask==0.10.1
PyLD==0.7.1
celery==3.1.23
flower==0.9.1
html5lib==0.9999999
rdflib==4.2.1
rdflib-jsonld==0.3
pyspotlight==0.6.5.2
elasticsearch==2.3.0
-e git+https://github.com/avengerpenguin/FuXi.git#egg=FuXi
gunicorn==19.5.0
requests==2.10.0
redis==2.10.5
mock==2.0.0
pytest==2.9.1
feedparser==5.2.1
