Flask==1.1.1
PyLD==1.0.5
celery==4.3.0
flower==0.9.3
html5lib==1.0.1
rdflib==4.2.2
rdflib-jsonld==0.4.0
pyspotlight==0.7.2
elasticsearch==7.0.5
-e git+https://github.com/avengerpenguin/FuXi.git#egg=FuXi
gunicorn==19.9.0
requests==2.22.0
redis==3.3.11
mock==3.0.5
pytest==5.2.2
feedparser==5.2.1
