Flask==0.11.1
PyLD==0.7.1
celery==4.0.0
flower==0.9.1
html5lib==0.999999999
rdflib==4.2.1
rdflib-jsonld==0.4.0
pyspotlight==0.7.1
elasticsearch==5.0.1
-e git+https://github.com/avengerpenguin/FuXi.git#egg=FuXi
gunicorn==19.6.0
requests==2.11.1
redis==2.10.5
mock==2.0.0
pytest==3.0.4
feedparser==5.2.1
